@model SMDesigner.Models.SacramentProgram

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SacramentProgram</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConductorL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConductorL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenPrayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SacramentSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeakerFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeakerFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntermedNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntermedNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosePrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosePrayer)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
