@model SMDesigner.Models.SacramentProgram

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SacramentProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProgramDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConductorL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConductorL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenPrayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SacramentSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speakers)
        </dt>
        <dd class = "col-sm-10">
            @string.Join(", ",Model.Speakers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntermedNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntermedNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosePrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosePrayer)
        </dd>
    </dl>
</div>
<div class="acceptlink">
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="Print" asp-route-id="@Model.ID">Print</a>
</div>
