@model IEnumerable<SMDesigner.Models.SacramentProgram>

@{
    ViewData["Title"] = "Index";
}

@{
    ViewBag.Title = "Index";
}


<h1>Index</h1>

<p class="newlink">
    <a asp-action="Create">Create New</a>
</p>
<hr />


@using (Html.BeginForm())
{
    <p>
        Find by Month:
        <select id="monthString" name="monthString" asp-items="Html.GetEnumSelectList<MonthEnum>()">
            <option selected value="@null" >-- Select Month --</option>
        </select>
    </p>

    <p>
        Find by Year: <input type="text" name="YearString" value="@ViewData["YearFilter"]" />
        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-action="Index">Back to Full List</a>
    </p>
}

<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProgramDateSortParm"]">@Html.DisplayNameFor(model => model.ProgramDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ConductorLeaderSortParm"]">@Html.DisplayNameFor(model => model.ConductorL)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OpenSongSortParm"]">@Html.DisplayNameFor(model => model.OpenSong)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OpenPrayerSortParm"]">@Html.DisplayNameFor(model => model.OpenPrayer)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SacramentSortParm"]">@Html.DisplayNameFor(model => model.SacramentSong)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SpeakerFullNameSortParm"]">@Html.DisplayNameFor(model => model.SpeakerFullName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SubjectSortParm"]">@Html.DisplayNameFor(model => model.Subject)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IntermediateNumSortParm"]">@Html.DisplayNameFor(model => model.IntermedNum)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CloseSongSortParm"]">@Html.DisplayNameFor(model => model.CloseSong)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ClosePrayer"]">@Html.DisplayNameFor(model => model.ClosePrayer)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductorL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermedNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosePrayer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
</div>