@page 
@model Mega_Desk_Web_App.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<hr />

<form id="searchBar">
    <p>
        Material Look Up: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" class="btn btn-light" />
    </p>
    <p id="lookUp">
        CustName Look Up: <input type="text" asp-for="QuoteCustName" />
        <input type="submit" value="Search" class="btn btn-light searchbtn" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortQuote="@Model.CustNameSort">
                @Html.DisplayNameFor(model => model.Quote[0].CustName)
                </a>

                @*@Html.ActionLink("Name", "Index", new {custName = Model.CustNameSort})*@
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortQuote="@Model.DateSort">
                @Html.DisplayNameFor(model => model.Quote[0].QuoteDate)
                </a>

                @*@Html.ActionLink("Date", "Index", new {dateSort = Model.DateSort})*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Production)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Production)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">View</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<button class="btn btn-light">
    <a asp-page="Create">Add Quote</a>
</button>